<div class="row">
  <div class="medium-12 columns">
    <h1>Editing Point Of Interest</h1>
  </div>
  <div class="medium-12 columns">
    To delete a translation or review, simply delete its content
  </div>
</div>

<%= render 'form' %>
