<div class="row">
  <div class="medium-12 columns">
    <h1>Tags</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table>
      <thead>
      <th>Name</th>
      <th>Points of interest</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name.try(:capitalize) %></td>
        <td><%= tag.point_of_interests.count %></td>
        <td>
          <ul class="button-group radius action_button">
            <li>
              <a href="<%= tag_path(tag) %>" data-confirm="Are you sure?"
                 rel="nofollow" data-method="delete" class="tiny button alert action_button">
                <img src="/images/icon_destroy.png"/>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>