.action_button{
    /* important to prevent foundation from overriding it */
    margin: 0px !important;
    padding: 0.3rem !important;
}
.action_button img{
    height: 1rem;
    margin: 0;
    vertical-align: middle;
}